.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Recursive', sans-serif;
    padding-left: 60px;
    padding-right: 20px;
}

.cabecalho_logo{
    max-width: 150px;
}

.cabecalho_lista{
    display: flex;
    list-style: none;
    gap: 25px;
}

.lista_item{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.banner{
    background-image: url("https://wallpapers.com/images/featured/4k-marvel-awrqh8lcgyk3crjc.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_textos{
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.banner_titulo{
    font-size: 24px;
    font-family: "Pacifico";
    color: #1b1833;
}

.banner_destaque{
    color:rgb(255, 0, 0);
    font-family: "Rubik Glitch";
    font-size: 36px
}

.banner_botao{
    color: white;
    background-color: #1b1833;
    font-family: "Pacifico";
    font-size: 24;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

body{
    background-color: rgb(6, 6, 63);
}


