body{
    background-color: #010A1E;
    font-family: 'Lilita One';
    color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.menu_logo{
    max-width: 80px;
}

.menu_lista{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu_lista_item{
    text-decoration: none;
    font-size: 22px;
    color: #BA1D0A;
    font-family: 'Press Start 2P', system-ui;
}

.menu_curriculo{
    text-decoration: none;
    background-color: #BA1D0A;
    color: white;
    font-family: 'Press Start 2P', system-ui;
    font-size: 22px;
    padding: 10px 20px; /*espaço interno no botão*/
    border-radius: 20px; /*arredondar botão*/
}

.banner{
    background-image: url("https://cdn.dribbble.com/users/1003084/screenshots/10235985/media/cec3f705f0251ddf87818fcdb62c45b2.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.banner_infos{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    gap: 20px;
    height: 50vh;
    padding: 30px;
    border-radius: 0 0 20px 20px;
}

.banner_infos_imagem{
    max-width: 300px;
    border: 2px solid white;
    border-radius: 50%;
}

.banner_infos_nome{
    font-family: 'Press Start 2P', system-ui;
    font-size: 40px;
    color: white;
}

.banner_infos_cargo{
    font-family: 'Press Start 2P', system-ui;
    font-size: 20px;
    color: #BA1D0A
}

.sobre{
    max-width: 80vw;
    margin: 60px auto;
    border-top: 10px solid #BA1D0A;
    border-bottom: 10px solid #BA1D0A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.sobre_infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sobre_infos_titulo{
font-size: 50px;
font-family: 'Press Start 2P', system-ui;
}

.sobre_infos_texto{
    font-size: 24px;
    line-height: 1.5;
}