h1{
    color: red;
    font-style: italic;
    text-decoration: underline;
}

p{
    font-size: 10px;
    color: blue;
    font-weight: 700;
}

#destaque{
    color: green;
    font-size: 15px;
}

.pequenininho{
    font-size: 10px;
}

div{
    background-color: black;
}

.divisao1{
    background-color: greenyellow;
}

.divisao2{
 background-color: brown;   
}

.destaque2{
    color: yellow;
}