body{
    background-color: #999999 ;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
    border: 1px solid #101010;
}

.cabecalho-logo{
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cabecalho-icon{
    max-width: 75px;
    border-radius: 5px;

}
.cabecalho-menu{
    max-width: 50px;
}

.col1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col1-data{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.col1-descricao{
    display: flex;
    gap: 15px;
    color: black;
    font-weight: bold;
    max-width: 400px;
}

.col1-titulo{
    font-size: 46px;
    color: black;
    max-width: 400px;
}

.col1-data-legenda{
    color: #820263;
    font-weight: bold;
}

.col1-subtitulo{
    font-size: 24px;
    color: black;
    max-width: 400px;
    font-weight: bold;
}

.col1-lista{
    display: flex;
    align-items: center;
}

.col1-lista-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.col1-lista-item-num{
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 7px;
}

.col1-lista-item-legenda{
    color: #820263;
    font-weight: bold;
    font-size: 12px;
}

.col1-botao{
    font-weight: bold;
    font-size: 18px;
    border: 2px solid rgb(61, 71, 81);
    padding: 15px 30px;
    text-decoration: none;
    color: #820263;
    max-width: 80px;
}